body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination {
  display: flex;
  width: 35%;
  margin: auto;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  color: white;
  background-color: rgba(19, 85, 124, 0.6);
  padding: 8px 24px;
  border-radius: 8px;
}

.pagination :hover {
  cursor: pointer;
  color: brown;
}

.Card :hover{
  /* background-color: red;
  filter:blur(6px); */
}

.Cardbody {
  /* height: 260px; */
  /* background: red; */
  transition: 0.25s;
  
}

.Card:hover .Cardbody{
  /* background: red; */
  transform-origin: 50% 100%;
  /* transform: translateY(-300px); */
  transform: scale(2.5,2.5);
  /* height: 500px; */
  

  
}

.Card:hover .CardImg{
  filter:blur(6px);
}
/* .Cardtitle{
  /* background: red;
  transition: height 2s; */
/* } */

/* .Cardtitle:hover{
  /* height: 650px; */
  /* transform: translateY(650px); */

/* } */ 
