body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pagination {
  display: flex;
  width: 35%;
  margin: auto;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  color: white;
  background-color: rgba(19, 85, 124, 0.6);
  padding: 8px 24px;
  border-radius: 8px;
}

.pagination :hover {
  cursor: pointer;
  color: brown;
}


.Cardbody {
  transition: 0.25s;
  
}

.Card:hover .Cardbody{
  transform-origin: 50% 100%;
  transform: scale(2.5,2.5);
}

.Card:hover .CardImg{
  filter:blur(15px);
  
}

.Cardtitle{
  position: relative;
  bottom: 300px;
  justify-content: center;
  text-align: center;
  filter:opacity(0)
}
.Card:hover .Cardtitle{
  font-size: x-large;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #deff0a;
  
  background-color: #143642;
  border-radius: 10px;
  display: flex;
  text-align: center;
  filter:opacity(100)
} 

.Avarage{
  position: absolute;
  bottom: 520px;
  left: 46%;
  
  filter:opacity(0)
}
.Card:hover .Avarage{
  font-size: large;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #deff0a;
  justify-content: center;
  background-color: #143642;
  border-radius: 10px;
  display: flex;
  text-align: center;
  filter:opacity(100);
  z-index: 1;
  
} 

.Icon{
  position: absolute;
  bottom: 480px;
  left: 37%;
  display: flex;
  justify-content: center;
  
  filter:opacity(0)
}
.Card:hover .Icon{
  font-size: 80px;
  font-weight: bold;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  text-align: center;
  filter:opacity(100)
} 

